@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
body{
    background: rgb(43, 43, 43);

}

#box{
    height: 100px;
    background: crimson;
    width: 100px;
}
#part2 h4{
    font-weight:500;
    padding: 0 0.2rem;
    cursor: pointer;


}

#nav{
    background: #78ff6c96;
}